$white: #FFFFFF;
// A redundant variable

$black: #1C1C1E;
// A lighter black

$primary: #1457DB;
// Primary color for focus

$silver: #B0B5BF;
// Secondary paragraph text

$background: #F4F5F7;
// Background for the Dashboard page

$seperator: #E4E6EA;
// Line color for seperating content