$white: #FFFFFF;
// A redundant variable

$black: #1C1C1E;
// A lighter black

$primary: #1457DB;
// Primary color for focus

$hover: rgba(20, 86, 219, 0.253);

$silver: #B0B5BF;
// Secondary paragraph text

$background: #F4F5F7;
// Background for the Dashboard page

$seperator: #E4E6EA;
// Line color for seperating content

$placeholder: #ECECEC;
//

$text: #8E8E93;