@import "../../styles/main.scss"; 

.header {
    display: flex;
    justify-content: flex-end;
    margin-left: 350px;
    height: 9vh;
    border-bottom: 2px solid $seperator;
    font-size: 1.3rem;
    width: 1200px;

    &__nav {
        height: 100%;
        width: 275px;
        margin-right: 24px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__nav-button {
        font-size: 16px;
        width: 90px;
        height: 40px;
        border: none;
        outline: none;
        background-color: $primary;
        border-radius: 5px;
        cursor: pointer;
        color: $white;
        padding: 5px 15px;
    }
    &__nav-link {
        color: $black;
        opacity: 0.9;
        &:hover {
            opacity: 1; 
            cursor: pointer; 
        }
    }
    &__nav-profile {
        width: 40px;
        height: 40px;
        object-fit: cover;
        background-color: black;
        border-radius: 100%;
        opacity: 1;

        &:hover {
            opacity: 0.9;
            cursor: pointer;  
        }
    }
}