.header {
    display: flex;
    justify-content: flex-end;
    margin-left: 200px;
    height: 9vh;
    border-bottom: 1px solid black;
    padding: 0px 24px;
    font-size: 1.3rem;
    &__nav {
        height: 100%;
        width: 33.33%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__nav-link {
        color: black;
        opacity: 0.9;
        &:hover {
            opacity: 1;  
        }
    }
    &__nav-profile {
        width: 25px;
        height: 25px;
        background-color: black;
        border-radius: 100%;
        opacity: 0.9;
        &:hover {
            opacity: 1;  
        }
    }
}