
.login-page {
  width: 100vw;
  height: 100vh;
//   background-image: url('../../assets/images/form-bg.jpg');
//   background-size: cover;
//   background-position: center;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: rgba(0,0,0,0.1);
  }

  &__form {
    max-width: 750px;
    width: 80%;
    background-color: #FAFAFA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5% 10%;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.12);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__button {
    
    background-color: #d6a542;
    font-size: .9rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    display: block;
    width: 400px;
    padding: 5px;
    margin: 5%;
    cursor: pointer;
    &:hover { background-color: darken($color: #d6a542, $amount: 10%) }
    &--gh { 
      background-color: unset; 
      border: 1px solid #211F1F; 
      color: #211F1F;
      &:hover { background-color: #211F1F; color: white; }
    }
    &--go { 
      background-color: unset; 
      border: 1px solid #db4a39; 
      color: #db4a39;
      &:hover { background-color: #db4a39; color: white; }
    }
  }
  
}