@import "../../styles/main.scss"; 

.task {
    width: 580px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px solid $seperator;
    border-radius: 15px;
    padding: 40px 60px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;

    &__personal { 
        justify-content: flex-start 
    }

    &--alt {
        width: 580px;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $placeholder;
        border: 1px solid $seperator;
        border-radius: 15px;
        padding: 40px 60px;
        cursor: pointer;
    }
    &__section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:nth-child(2) {
            flex-direction: column;
        }
    }
    &__heading {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    &__todo {
      font-weight: 700;
      font-size: 20px;
    }
    &__button {
        cursor: pointer;
        background-color: $primary;
        color: white;
        height: 30px;
        border-radius: 5px;
        width: 180px;
        height: 44px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        &:hover {
            font-weight: bold;
          }
        &--cancel {
            background-color: transparent;
            color: $primary;
            cursor: pointer;
        }
    }
    &__options {
        cursor: pointer;
        transform: rotate(270deg);
        border: none;
        font-size: 2rem;
    }
    &__add-button {
        cursor: pointer;
        border: none;
        font-size: 50px;
    }
    &__toggle-container {
        display: flex;
        align-items: center;
    }
    &__is-paused {
        margin-left: 10px;
    }

    &__add {
        margin-bottom: 20px;
        color: $text;
    }

    &__title {
        font-weight: 900;
        padding-bottom: 10px;

        &--placeholder {
            color: $text;
        }
    }

    &__description {
        padding-bottom: 20px;
    }

    &__modal-content-container {
        height: 150px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__modal-prompt {
        max-width: 230px;
        margin: 0 auto;
        text-align: center;
    }
    &__modal-button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
    }
    &__modal-button {

    }

    &__todo {
      display: flex;
      justify-content: space-between;
      height: 50px;
      padding-top: 10px;
      border-bottom: 1px solid #BFBFBF;
    }

}