@import "../../styles/main.scss";

.body {
  width: 1200px;
  top: 100px;
  left: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  &__tasks {
    height: 200px;
    width: 1200px;
  }

  &__header {
    margin-bottom: 15px;
  }
  &__backlog {
    height: 200px;
    width: 100vh;
  }
  &__taskcards {
    width: 1200px;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}

// THIS IS TO BE REMOVED LATER ITS TEMPORARY
.temporaryButton {
  padding: 20px;
}
