.body {
  width: 100vh;
  top: 50px;
  left: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body {
  &__tasks {
    height: 200px;
  }
  &__backlog {
    height: 200px;
  }
}
