.body {
  width: 80vh;
  top: 100px;
  left: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body {
  &__tasks {
    border: 1px solid black;
    height: 200px;
    width: 100vh;
  }
  &__backlog {
    border: 1px solid black;
    height: 200px;
    width: 100vh;
  }
  &__taskcards {
    width: 100%;
    display: flex;

  }
}
