.jira {
  &__card {
    width: 260px;
    height: 250px;
    display: flex;
    flex-direction: column;
    //border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
    margin-right: 50px;
    cursor: pointer;
    &:nth-child(4) {
      margin-right: 0px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__priority {
    font-size: small;
    margin-top: 0px;
  }
  &__bottom {
    bottom: 0px;
    margin-bottom: 0px;
  }
  &__name {
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__assignee {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__id {
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
  }
}

.dark-red {
  color: darkred;
}

.red {
  color: red;
}
.orange {
  color: orange;
}

.dark-green {
  color: darkgreen;
}

.green {
  color: green;
}
